p
{
    text-align: right;
    font-family: arial;
}
h1
{
    text-align: center;
    text-decoration: rebeccapurple wavy underline;
}

a{
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
    font-weight: normal ;
}

#par
{
    text-align: left;
    font-size: 25px;
    line-height: 10px;
}